*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;

    --primary-color:#01d28e;
    --bg-color:#f7f5f5;
}


/* ---------- genric css ----------- */



p{
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 300;
}

img{
    max-width: 100%;
    object-fit: fill;
    height: auto;
}

.cta{
    display: inline-block;
    padding: 1em 3em;
    color: #fff !important;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5em;
    font-size: 1.5em;
    font-weight: 500;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: lato;
    text-transform: capitalize;
}

.section-header{
    padding: 10em 0;
    text-align: center;
    font-family: 'Lato',sans-serif;
}

.section-title{
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 300;
    position: relative;
}

.section-title::after,.section-title::before{
    content: '';
    position: absolute;
    bottom: -0.8em;
    left: 50%;
    width: 6rem;
    transform: translateX(-50%);
    border: 1px solid #000;
}

.section-title::before{
    width: 10rem;
    bottom: -1.01em;
}

/* ---------------- header ---------------- */

#home{
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 4em 0;
}

#logo h2{
    font-size: 2.5rem;
}

.menu{
    cursor: pointer;
}

.menu span.icone-bar{
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 2px 0;
}

.dummy-nav{
    background: #fff;
    width: 28rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -120%;
    transition: 0.4s linear;
    padding: 11rem 5rem;
    box-shadow: 3px 12px 8px #7b7575;
    z-index: 999;
}

.dummy-nav .nav-item .nav-link{
    color: #000;
    font-size: 2rem;
    font-family: lato;
    font-weight: 300;
    margin: 0.7em 0;
}

.dummy-nav .nav-item .nav-link:hover,.dummy-nav .nav-item .nav-link.active{
    color:var(--primary-color)
}

.cross-icone {
    margin-top: -60px;
    text-align: right;
}

.exit{
    font-size: 2.2rem;
    color: gray;
    cursor: pointer;

}
/* ---------- hero ----------- */


#hero{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/hero_1.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: center;
}

.content{
    color: #fff;
    text-align: center;
}

.content h2{
    font-size: 5rem;
    font-weight: 300;
}

.content p{
    margin: 1.3em 0 1.4em;
}

/* --------------- about us -------------- */

section#aboutUs{
    padding: 12em 0;
}

.text-wraffer h2{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 4rem;
}

.text-wraffer p{
    font-size: 1.5rem;
    margin: 1em 0 1.5em;
    line-height: 1.9;
}

.about-imgBox{
    width: 100%;
}

.aboutBtn{
    padding: 1em 3.4em;
    background: var(--primary-color);
    border-color: var(--primary-color);
    letter-spacing: normal;
    
}

.text-wraffer{
    margin-top: 5rem;
  
}

.skill-progress{
    margin: 3em 0;
    border-radius: 0;
    font-family: Lato;
}

.skill-progress h2{
    font-weight: 300;
    font-size: 1.9rem;
}

.skill-progress h2:last-child{
    font-size: 1.7rem;
}

.progress{
    border-radius:0 ;
    height: 0.7rem;

}

.progress .progress-bar {
    color: var(--primary-color);

}

/* --------------- services --------------- */

#service{
    background: var(--bg-color);
    padding-bottom: 10em;
}

.sercive-wraffer{
    text-align: center;
    background: #fff;
    padding: 4em 1em;
    transition: 0.4s linear;
    cursor: pointer;
}

.sercive-wraffer .icone-box i{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.sercive-wraffer h2{
    font-family: lato;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 1.5em;
}

.sercive-wraffer p{
    font-size: 1.5rem;
}

.sercive-wraffer:hover{
    box-shadow: 2px 12px 11px #d4cbcb;
}

/* -------------- work ----------------- */

#works{
    margin-bottom: 10rem;
}

.fancy-box{
    width: 100%;
    height: 233px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;

}

a.fancy-box{
    z-index: 44;
    display: inline-block;
}

.fancy-box::after{
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 5rem;
    transition: 0.5s;
    opacity: 0;
}

.fancy-box::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    background: rgba(0,0,0,0.4);
    opacity: 0;

}

.fancy-box:hover::before,.fancy-box:hover::after{
    opacity: 1;
}

/* ---------------- counter --------------- */

#counter{
    padding: 8rem 0;
    color: #364d59 ;
    background-color: var(--bg-color);
}

.count h2{
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 0.7em;
    font-size: 1.8rem;
}


.counter-icone-box {
    flex: 2;
}

.counter-icone-box i {
    font-size: 3rem;
}
.count {
    flex: 8;
}


/* ------------- studio ------------------ */

#studio{
    padding-bottom: 10em;
}

.watch-video{
    background: linear-gradient(45deg, #c1c3c2, #b0b2b1);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
}

.watch-video .icone{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2em;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
}




/* --------------- testimonial ---------------- */

#testimonial{
    padding-bottom: 10em;
    background: var(--bg-color);
}

.single-testimonial .testimonial-imgBox{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    overflow: hidden;
}

.single-testimonial p.text{
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    line-height: 2;
}

.single-testimonial strong{
     font-size: 1.5rem;
     font-weight: 500;
}

/* --------------- blog ---------------- */
#blog{
    padding-bottom: 10rem;
}

.blog-post .blog-img{
    width: 100%;
    height: 300px;
}

.blog-desc h2 a{
    color: #000;
    text-decoration: none;
}

.blog-post .blog-img img{
    height: 100%;
}

.date span{
    display: inline-block;
    font-size: 1.6rem;
    color:gray;
}

.date span:last-child{
    color:var(--primary-color);
}

.blog-post p{
    font-size: 1.7rem;
    line-height: 1.8;
    font-family: montserrat;
    font-weight: 400;
}

/* ------------- footer -------------- */

footer{
    background:var(--bg-color);
    padding: 10rem 0;
    font-family: poppins;
}

footer li.nav-item .nav-link{
    font-size: 1.5rem;
    margin: 0.5rem 0 0; 
    font-weight: 300;
    color: var(--primary-color) !important;
}

.quick-links{
    margin-left: 5rem;
}

.social-icon-box { 
    margin: 1rem 1rem;
    background:#ececec;
    cursor: pointer;
    padding: 16px 20px;
    color: var(--primary-color);
    border-radius: 50%;
    transition: 0.5s;
}

.social-icon-box:hover{
    background: #fff;
}

.social-icon-box i {
    font-size: 2rem;
}

.news-later{
    margin: 5rem 0;
}

.masseage-box{
    margin: 3rem 0 0;
}

.news-later input{
    font-weight: 300;
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding: 0.7em 0.5em;
}

.news-later  button{
    border: none;
    outline: none;
    font-size: 1.7rem;
    color: #fff;
    background: var(--primary-color);
    padding: 1.5rem 3rem;
    border-radius: 28px;
    align-self: center;
}